/* MAIN */
.speaker-div {
  width: 100%;
  height: 743px;
  flex-shrink: 0;
  background: rgba(16, 144, 203, 0.1);
  padding-top: 78px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.speaker {
  width: 135px;
  height: 135px;
  flex-shrink: 0;
  border-radius: 68px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--colorWhite);
}

.speaker-header {
  color: vare(--colorBlack);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.speaker-header span {
  color: var(--colorMain);
  font-weight: 600;
}

.speaker-div p {
  width: 440px;

  color: var(--color69desc);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
}

/* CARDS */

.succlent {
  position: relative;
  bottom: 350px;
  left: 480px;

  z-index: 1;
}

.page-3-cards {
  width: 1203px;
  height: 441px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 88px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  left: 119px;

  border-radius: 10px;
  background: var(--colorWhite);
  box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.09);
}

.page-3-cards-top {
  display: flex;
  gap: 98px;
}
/* mobile card */
.page-3-mobile {
  display: flex;
  gap: 39px;
}
.mobile-card {
  width: 91px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background: var(--colorf1mag);
}

.mobile-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mobile-desc h2 {
  color: var(--colorBlack);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 44.475px */
  letter-spacing: 0.25px;
}

.mobile-desc p {
  width: 323px;
  height: 53px;
  flex-shrink: 0;

  color: var(--color79gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

/* web card */
.page-3-web {
  display: flex;
  gap: 39px;
}
.web-card {
  width: 91px;
  height: 90px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background: var(--colorF2);
}
.web-desc {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* card's headers */
.web-desc h2,
.seo-desc h2,
.ar-desc h2 {
  color: var(--colorBlack);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 44.475px */
  letter-spacing: 0.25px;
}

.web-desc p {
  width: 355px;
  height: 56px;
  flex-shrink: 0;

  color: var(--color79gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

/* Page 3  cards-bottom  */
.page-3-cards-bottom {
  display: flex;
  gap: 138px;
}
.page-3-seo {
  display: flex;
  gap: 39px;
}
.seo-card {
  width: 91px;
  height: 90px;
  flex-shrink: 0;

  border-radius: 20px;
  background: var(--color2sky);
  display: flex;
  align-items: center;
  justify-content: center;
}

.seo-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.seo-desc p {
  width: 283px;
  height: 56px;
  flex-shrink: 0;

  color: var(--color79gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

/* Page-3-ar  */
.page-3-ar {
  display: flex;
  gap: 31px;
}

.ar-card {
  width: 91px;
  height: 90px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background: var(--colorArbg);
}

.ar-desc p {
  width: 386px;
  height: 56px;
  flex-shrink: 0;

  color: var(--color79gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

/* LOREM */

.lorem {
  padding-right: 20px;
  position: absolute;
  /* top: 1000px; */
  bottom: -840px;

  display: flex;
  justify-content: space-around;
  /* align-items: center;
  justify-content: center; */
}

.lorem-left {
  position: relative;
  left: 109px;
  margin-bottom: 120px;
}
.lorem-left h1 {
  width: 516px;
  height: 91px;
  flex-shrink: 0;

  color: var(--colorCodexHeader);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
}
.lorem-left h1 span {
  color: var(--colorMain);
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid var(--colorMain);
  background: var(--colorWhite);

  color: var(--colorMain);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
}
.left-desc {
  padding-top: 56px;
  padding-bottom: 6px;
  width: 476px;
  height: 306px;
  flex-shrink: 0;

  color: var(--colorKodexDesc2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

/* Rectangle Blue */

.succlent2 {
  position: relative;
  top: 920px;
  left: 100px;
  z-index: 1;
}

.bell {
  position: relative;
  top: 560px;
  left: 1100px;
  z-index: 1;
}

.rectangle-blue {
  position: relative;
  width: 100%;
  height: 388px;
  flex-shrink: 0;
  display: flex;
  gap: 160px;
  padding-left: 178px;

  position: absolute;
  bottom: -1200px;

  background: var(--colorMain);
}

.typography-p1 {
  color: var(--colorWhite);
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.9%;
  letter-spacing: 0.65px;
}

.typography-p2 {
  color: var(--colorWhite);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%;
  letter-spacing: 0.16px;
}

.typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Our Latest Projects */
.latest-projects {
  position: absolute;
  bottom: -2000px;
  padding-left: 119px;

  display: flex;
  gap: 84px;
  align-items: center;
}

.latest-project1,
.latest-project2,
.latest-project3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.latest-project1 h1 {
  color: var(--colorBlack);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  letter-spacing: 0.36px;
  margin-bottom: 21px;
}

.latest-project1-desc h2,
.latest-project2-desc h2,
.latest-project3-desc h2 {
  width: 333px;
  height: 126.233px;
  flex-shrink: 0;

  color: var(--colorBlack);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.9%; /* 40.917px */
  letter-spacing: 0.23px;
}

.latest-project2-img,
.latest-project3-img {
  padding-top: 130px;
}

.latest-project1-desc p,
.latest-project2-desc p,
.latest-project3-desc p {
  /* width: 333px; */
  height: 144.07px;
  flex-shrink: 0;

  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 210.9%; /* 33.744px */
  letter-spacing: 0.16px;
}

.latest-project1-desc p {
  width: 293px;
}

.latest-project2-desc p,
.latest-project3-desc p {
  width: 295px;
}

/* ---------------- */
