:root {
  /* COLORS */
  --colorMain: #1090cb;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorMiddle: #1090cb 10%;
  --colorEllipse: #08d3bb;
  --colorDesc: #5c5c5c;
  --colorGray: #969696;
  --colorCodexDesc: #868686;
  --colorCodexHeader: #252525;
  --colorKodexDesc2: #545454;
  --colorFocusImg: #9208d3;
  --colorRectangle1: #f4f4f4;
  --colorLightBlue: #e8f4fa;
  --colorEmailButton: #fff4f4;
  --colorBlue29: #00329b;
  --colorGray51: #515151;
  --colorFooterBorder: #d2d2d2;
  --colorGray68: #686868;

  /* FONTS */
  --fontMain: "Poppins", sans-serif;
}
